extends layout.pug

block content 
  article
    div.container-md
      br
      .cell.auto
      .container
        .about-page
            .about-main
                img.about-img(src='/public/img/written_logo.png')
            .grid-container
                div.dev-info#dev-fabio
                    img.dev-img(src='/public/img/Fabio.png')
                    div.details
                        p
                        b.dev-details Fabio Cortes Pinheiro Turazzi 
                        .dev-details fabioturazzi@hotmail.com
                        a(href=`www.linkedin.com/in/fabio-turazzi-3b6a4ab4/`).dev-details https://www.linkedin.com/in/fabio-turazzi-3b6a4ab4/
                div.dev-info#dev-uyen
                    img.dev-img(src='/public/img/Uyen.png')
                    div.details
                        p
                        b.dev-details Do Man Uyen Nguyen
                        .dev-details uyen.m.nguyen14@gmail.com
                        a(href=`www.linkedin.com/in/winnienguyenn/`).dev-details https://www.linkedin.com/in/winnienguyenn/
            .about-main
                h2.about-title Project Motivation
            .about-text
                p.about-paragraph This is an Academic Project developed by Fabio Turazzi and Do Man Uyen Nguyen, proposing a solution for those who wish to keep themselves up to date on the latest news. Considering the growth in use of social media to access news and the growing trend of fake news in those mediums, our goal was to develop a platform that offers consolidated information from credible sources, while maintaining the practicality sought-after in social media.
                p.about-paragraph This application applies Web Scraping techniques to consolidate articles from sources such as BBC, CNBC, CNN, among others. Additionally, it differentiates itself from other news compilers by applying Natural Language Processing techniques to summarize those articles, offering quick briefings for users. Combining these two factors, we believe that we offer a better way for users to efficiently browse articles, while providing links to the full articles for those who wish to obtain more detailed information.
                p.about-paragraph
                    b Disclaimer: 
                    | This application was developed for study purposes and is not intended for commercial use.
            .about-main
                h2.about-title Technologies Used
            .grid-container
                #tech1
                    p.about-paragraph 
                        b Web Application: 
                        | Node.js/Express, Pug, Mongoose
                    p.about-paragraph
                        b Database Loader: 
                        | PyCharm application, using the libraries listed by task as follows
                #tech2
                    p.about-paragraph
                        b Web Scraping: 
                        | BeautifulSoup, Requests-html
                    p.about-paragraph 
                        b Summarization: 
                        | PyTorch, Transformers, BART
                    p.about-paragraph 
                        b Additional utilities: 
                        | Pandas, Pymongo
            .about-main
                h2.about-title Development Information
            .about-text
                p.about-paragraph This software was developed with two different modules, comprising this Web Application and a Database Loader. This was done to separate the high-processing tasks of Web Scraping and Summarization from the main user experience. The two modules communicate using a database stored in Mongo Atlas, which is updated periodically by the Database Loader. 
                p.about-paragraph Its important to note that, given the academic focus of this project, a constraint of available processing power had to be considered during development. To mitigate extremely long database loading times, we have limited the number of sources and the articles collected from each of them. However, the code to implement the full scope of the application with 10 sources is already developed and included in our GitHub.
                p.about-paragraph See our complete code in the GitHub links below:
                a(href=`https://github.com/fabioturazzidouglas/BriefMe`)
                    p.about-paragraph
                        b Web Application: 
                        | github.com/fabioturazzidouglas/BriefMe
                a(href=`https://github.com/fabioturazzidouglas/BriefMeDbLoader`)
                    p.about-paragraph
                        b Database Loader:  
                        | github.com/fabioturazzidouglas/BriefMeDbLoader





