
body{
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: justify;
}
a {
  text-decoration: none !important; 
}
.navbar-light {
  background-color: white !important;
}
a>h6:hover  {
  text-decoration: underline !important; 
}
a>h5:hover  {
  text-decoration: underline !important; 
}
a{
  color: #333;
}
.source-nav-active {
  background-color: lightblue;
}
a:hover{
  color: #111;
}
.col-sm {
  margin: 1%;
}
p{
  font-size: 15px;
  color: #666;
}

.round{
  border-radius: 5px;
}

.text-light{
  color: #666;
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #111;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}