
body{
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  text-align: justify;
}

.grid-sizer,
.grid-item { 
  width: 25%;
  padding: 1.5%;
  margin:0;
  border: solid 1px rgb(240,240,240);
}
.grid-sizer {
  border-style:none;
}
.grid {
  min-width: 100%;
  transform: translate(-3%);
  margin-top:8%;
}
.navbars-group {
  position:fixed;
  top:0;
  width:100%;
  max-height:100px;
  z-index:2;
}
.container{
  margin:2.5%;
  margin-top:6.5%;
  min-width: 95%;
}
a {
  text-decoration: none !important; 
}
.navbars-group {
  height: 100px;
}

.navbar-light {
  height:50%;
}
.navbar-dark {
  height:50%;
}
#navbar1 {
  border-bottom: 1px solid #5D6975 ;
  margin-top:0px;
  margin-bottom: 0px;
  padding-top:0px;
  padding-bottom: 0px;
  height:50px;
}
#navbar2 {
  margin-top:0px;
  margin-bottom: 0px;
  padding-top:0px;
  padding-bottom: 0px;
  height:50px;

}
#categoryNav {

}
#sourceNav {
  background-color: white !important;
}

h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
  font-style: italic;
}

#logo-img {
  max-height: 100px;
  float:left;
  background-color: #212529;
  margin-right:2%;

}

div.grid-item:hover {
  background: rgb(226, 234, 242);
} 

a>h6:hover  {
  text-decoration: underline; 
}
a{
  color: #333;
}
.source-nav-active {
  background-color: lightblue;
}
a:hover{
  color: #111;
}
.col-sm {
  margin: 1%;
}
p{
  font-size: 15px;
  color: #666;
}

.round{
  border-radius: 5px;
}

.text-light{
  color: #666;
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #111;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}