
body{
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  text-align: justify;
}

.grid-sizer,
.grid-item { 
  width: 25%;
  padding: 1.5%;
  margin:0;
  border: solid 1px rgb(240,240,240);
}
.grid-sizer {
  border-style:none;
}
.grid {
  min-width: 100%;
  transform: translate(-3%);
  margin-top:8%;
}
.navbars-group {
  position:fixed;
  top:0;
  width:100%;
  max-height:100px;
  z-index:2;
}
.container{
  margin-top:6.5%;
  min-width: 95%;
}
.container_art {
    margin:2.5%;
}
a {
  text-decoration: none !important; 
}
.navbars-group {
  height: 100px;
}
.navbar-light {
  height:50%;
}
.navbar-dark {
  height:50%;
}
#navbar1 {
  border-bottom: 1px solid #5D6975 ;
  margin-top:0px;
  margin-bottom: 0px;
  padding-top:0px;
  padding-bottom: 0px;
  height:50px;
}
#navbar2 {
  margin-top:0px;
  margin-bottom: 0px;
  padding-top:0px;
  padding-bottom: 0px;
  height:50px;

}
#sourceNav {
  background-color: white !important;
}
.play-icon,.stop-icon,.pause-icon {
  max-width: 40px;
  margin-right: 7px;
  float:left;
}
.volume-icon {
  max-height: 20px;
  margin:15px 10px 10px 2px;
}
#volumeForm {
  margin:13px 0px 10px 5px;
}
input[type='range']::-webkit-slider-thumb {
  background: #5D6975 ;
}
.form-nav {
  min-width: 400px;
}
#searchForm {
  min-width: 140px;
  max-height: 40px;
  margin:5px;
}
.stop-all {
  margin:5px;
}
.article-source {
  float:none;
}
.article-title {
  font-weight: bold;
  color:rgb(30,30,30);
  text-align: left;
}
.play-icon:hover,.stop-icon:hover,.pause-icon:hover {
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius:50%;
}
#logo-written {
  max-height:50px;
  padding:10px;
  margin:0;
}
#logo-written-active {
  max-height:50px;
  padding:10px;
  margin:0;
  border: solid 1px #5D6975;
  background-color: #495158;
}

h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
  font-style: italic;
}

#logo-img {
  max-height: 100px;
  float:left;
  background-color: #212529;
  margin-right:2%;

}

div.grid-item:hover {
  background: rgb(226, 234, 242);
} 

a>h6:hover  {
  text-decoration: underline; 
}
a{
  color: #333;
}
.source-nav-active {
  background-color: lightblue;
}
a:hover{
  color: #111;
}
.col-sm {
  margin: 1%;
}
p{
  font-size: 15px;
  color: #666;
}

.round{
  border-radius: 5px;
}

.text-light{
  color: #666;
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #111;
}

.details {
  text-align: center;
  color: #666666;
}
.dev-info {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float:none;
  padding:2.5%;
}
#dev-fabio {
  grid-column-start: 1;
  grid-column-end: 1;
  margin-left: 40%;
}
#dev-uyen {
  grid-column-start: 2;
  grid-column-end: 2;
  margin-right: 40%;
}
.tech-grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 20px;
  background-color: rgb(240,240,240);
  padding: 0;
  margin-bottom: 0;
}
#tech1 {
  grid-column-start: 1;
  grid-column-end: 1;
  margin: 2.5%;
  margin-left: 25%;
}
#tech2 {
  grid-column-start: 2;
  grid-column-end: 2;
  margin: 2.5%;
}
#tech1, #tech2 {
  color: #666666;
  font-size:15px;
  line-height: 2;
  text-align: left;
  vertical-align: center;
}
.grid-container {
  display: grid;
  grid-column-gap: 50px;
  background-color: rgb(240,240,240);
  padding: 0;
  margin-bottom: 0;
}
.about-img {
  max-height: 50px;
}
.dev-img {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.about-main {
  background-color: rgba(33, 37, 41);
  text-align: center;
}
.about-text {
  background-color: rgb(240,240,240);
  padding: 2%;
}
.about-title {
  color:white;
  margin-bottom: 0;
  text-align: center;
}
.about-page {
  text-align: justify;
  padding: 0;
  margin:0;
}
.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}